lukkristi_modul_4_1/src/wsdl/localhost_8084/lukkristi_modul_2_1/AerodromWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.lukkristi.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.lukkristi.nwtis.foi.org/" name="AerodromWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.lukkristi.nwtis.foi.org/" schemaLocation="http://localhost:8084/lukkristi_modul_2_1/AerodromWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajSveAvioneOdDo">
<part name="parameters" element="tns:dajSveAvioneOdDo"/>
</message>
<message name="dajSveAvioneOdDoResponse">
<part name="parameters" element="tns:dajSveAvioneOdDoResponse"/>
</message>
<message name="zapisiUDnevnik">
<part name="parameters" element="tns:zapisiUDnevnik"/>
</message>
<message name="zapisiUDnevnikResponse">
<part name="parameters" element="tns:zapisiUDnevnikResponse"/>
</message>
<message name="dajSveAvioneAerodromaOdDo">
<part name="parameters" element="tns:dajSveAvioneAerodromaOdDo"/>
</message>
<message name="dajSveAvioneAerodromaOdDoResponse">
<part name="parameters" element="tns:dajSveAvioneAerodromaOdDoResponse"/>
</message>
<message name="provjeriKorisnika">
<part name="parameters" element="tns:provjeriKorisnika"/>
</message>
<message name="provjeriKorisnikaResponse">
<part name="parameters" element="tns:provjeriKorisnikaResponse"/>
</message>
<message name="dajAerodomeKorisnika">
<part name="parameters" element="tns:dajAerodomeKorisnika"/>
</message>
<message name="dajAerodomeKorisnikaResponse">
<part name="parameters" element="tns:dajAerodomeKorisnikaResponse"/>
</message>
<message name="izmjeriUdaljenostAerodroma">
<part name="parameters" element="tns:izmjeriUdaljenostAerodroma"/>
</message>
<message name="izmjeriUdaljenostAerodromaResponse">
<part name="parameters" element="tns:izmjeriUdaljenostAerodromaResponse"/>
</message>
<message name="dajAerodromePoNazivu">
<part name="parameters" element="tns:dajAerodromePoNazivu"/>
</message>
<message name="dajAerodromePoNazivuResponse">
<part name="parameters" element="tns:dajAerodromePoNazivuResponse"/>
</message>
<message name="vratiAerodromeUnutarGranica">
<part name="parameters" element="tns:vratiAerodromeUnutarGranica"/>
</message>
<message name="vratiAerodromeUnutarGranicaResponse">
<part name="parameters" element="tns:vratiAerodromeUnutarGranicaResponse"/>
</message>
<message name="obrisiMojAerodrom">
<part name="parameters" element="tns:obrisiMojAerodrom"/>
</message>
<message name="obrisiMojAerodromResponse">
<part name="parameters" element="tns:obrisiMojAerodromResponse"/>
</message>
<message name="dajAerodromePoDrzavi">
<part name="parameters" element="tns:dajAerodromePoDrzavi"/>
</message>
<message name="dajAerodromePoDrzaviResponse">
<part name="parameters" element="tns:dajAerodromePoDrzaviResponse"/>
</message>
<portType name="AerodromWS">
<operation name="dajSveAvioneOdDo">
<input wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/dajSveAvioneOdDoRequest" message="tns:dajSveAvioneOdDo"/>
<output wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/dajSveAvioneOdDoResponse" message="tns:dajSveAvioneOdDoResponse"/>
</operation>
<operation name="zapisiUDnevnik">
<input wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/zapisiUDnevnikRequest" message="tns:zapisiUDnevnik"/>
<output wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/zapisiUDnevnikResponse" message="tns:zapisiUDnevnikResponse"/>
</operation>
<operation name="dajSveAvioneAerodromaOdDo">
<input wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/dajSveAvioneAerodromaOdDoRequest" message="tns:dajSveAvioneAerodromaOdDo"/>
<output wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/dajSveAvioneAerodromaOdDoResponse" message="tns:dajSveAvioneAerodromaOdDoResponse"/>
</operation>
<operation name="provjeriKorisnika">
<input wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/provjeriKorisnikaRequest" message="tns:provjeriKorisnika"/>
<output wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/provjeriKorisnikaResponse" message="tns:provjeriKorisnikaResponse"/>
</operation>
<operation name="dajAerodomeKorisnika">
<input wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/dajAerodomeKorisnikaRequest" message="tns:dajAerodomeKorisnika"/>
<output wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/dajAerodomeKorisnikaResponse" message="tns:dajAerodomeKorisnikaResponse"/>
</operation>
<operation name="izmjeriUdaljenostAerodroma">
<input wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/izmjeriUdaljenostAerodromaRequest" message="tns:izmjeriUdaljenostAerodroma"/>
<output wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/izmjeriUdaljenostAerodromaResponse" message="tns:izmjeriUdaljenostAerodromaResponse"/>
</operation>
<operation name="dajAerodromePoNazivu">
<input wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/dajAerodromePoNazivuRequest" message="tns:dajAerodromePoNazivu"/>
<output wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/dajAerodromePoNazivuResponse" message="tns:dajAerodromePoNazivuResponse"/>
</operation>
<operation name="vratiAerodromeUnutarGranica">
<input wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/vratiAerodromeUnutarGranicaRequest" message="tns:vratiAerodromeUnutarGranica"/>
<output wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/vratiAerodromeUnutarGranicaResponse" message="tns:vratiAerodromeUnutarGranicaResponse"/>
</operation>
<operation name="obrisiMojAerodrom">
<input wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/obrisiMojAerodromRequest" message="tns:obrisiMojAerodrom"/>
<output wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/obrisiMojAerodromResponse" message="tns:obrisiMojAerodromResponse"/>
</operation>
<operation name="dajAerodromePoDrzavi">
<input wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/dajAerodromePoDrzaviRequest" message="tns:dajAerodromePoDrzavi"/>
<output wsam:Action="http://serveri.ws.lukkristi.nwtis.foi.org/AerodromWS/dajAerodromePoDrzaviResponse" message="tns:dajAerodromePoDrzaviResponse"/>
</operation>
</portType>
<binding name="AerodromWSPortBinding" type="tns:AerodromWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajSveAvioneOdDo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zapisiUDnevnik">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveAvioneAerodromaOdDo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="provjeriKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodomeKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="izmjeriUdaljenostAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromePoNazivu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vratiAerodromeUnutarGranica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obrisiMojAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromePoDrzavi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AerodromWS">
<port name="AerodromWSPort" binding="tns:AerodromWSPortBinding">
<soap:address location="http://localhost:8084/lukkristi_modul_2_1/AerodromWS"/>
</port>
</service>
</definitions>